.AMAZING_TEAM{
    text-align: center;
    background-color: beige;
}
p{
    color: grey;
}
.TEAM{
    float: left;
    width: 33.33%;
}
.clr{
    clear: left;
}
.paragraph{

width: 700px;
text-align: center;
display: inline-block;
}